extends layout.pug
block content
    h2 #{role}: #{userID}
    if currentCourses.length === 0
        p This professor is teaching 0 courses
    else if currentCourses.length > 0
        table 
            thead
                tr 
                    th Course Number
                    th Term
                    th Year
            tbody   
                each course in currentCourses
                    tr 
                        each value in Object.values(course) 
                            td= value
        br
        br
        br
        table 
            thead
                tr
                    th(colspan=2) Student 
                    th Student ID 
                    th Grade 
                    th Edit Grade
            tbody
                each student in currentStudent
                    tr
                        each value in Object.values(student)
                            td= value
                        form(id="editgrade",method="post",action="/")
                        td 
                            input(type="text",name="EnrGrade",form="editgrade",
                                style="width: 6em")
                            span.flag
                        td
                        td 
                            input(type="submit",value="Insert",form="editgrade")