extends layout.pug
block content
    h2 #{role}: #{userID}
    p Form data: #{JSON.stringify(formdata)}
    if enrolledCourses.length === 0
        p This student is enrolled in 0 courses 
    else if enrolledCourses.length > 0
        table 
            thead
                tr 
                    th Course Number
                    th Term
                    th Year
                    th(colspan=2) Instructor
                    th Grade
            tbody
                each course in enrolledCourses
                    tr
                        each value in Object.values(course)
                            td= value
        br
        br
    if availableCourses.length=== 0
        p No Available Courses
    else if availableCourses.length > 0
        table(id="addition") 
            thead
                tr
                    th Course number 
                    th(colspan=2) Instructor
                    th Location 
                    th Time Offered 
                    th Days offered 
                    th Enrolled 
            tbody 
                each course in availableCourses 
                    tr 
                        each value in Object.values(course)
                            td= value
                        form(id="enrolled",method="post",action="/student")
                            input(type="hidden" name="role" value=role)
                            input(type="hidden" name="id" value=userID)
                            input(type="hidden" name="courseOfferNo" value=course.OfferNo)
                            td 
                                input(type="checkbox",name="EnrollmentStatus")
                                input(type="submit",name="value",value="Add")
                                input(type="submit",name="value",value="Drop")
                                                
